.services {
  @include section-padding;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-content: center;
    justify-content: center;
    gap: 30px;
    .service {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;

      & *:not(:first-child) {
        margin-top: 1.25em;
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray;
        background: $white;
        border: 1px solid $gray;
        font-size: 1.5rem;
        width: 70px;
        height: 70px;

        @include transition-ease;
        &:hover {
          @include transition-ease;
          color: $white;
          background: $main-green;
          border: none;
        }
      }
      &__title {
        font-size: 1.5rem;
        color: #4c4c4c;
        font-weight: 400;
      }
      &__subtitle {
        color: $light-gray;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
}
